@*
    @author Sanna Nieminen-Vuorio
     Last modified 2.3.2022
     Contact information and story
*@
@{
    ViewBag.Title = "Keitä olemme";
}

<body class="picture">

    <h2> Hei,</h2>
    <br />
    <div style="width: 50%">
        Olemme suomalainen perheyritys, joka valmistaa nuken ja Barbien vaatteita käsityönä.
        Olemme toimineet vuodesta 1999 ja kierrämme messuilla ja markkinoilla myymässä.
        Anna palautetta sivulla voi täyttää yhteydenotto-lomakkeen, mutta tavoitat meidät myös muilla keinoilla.
    </div>
    <br />
    <div class="info">
        <h3> Ota yhteyttä:  </h3>
        <br />
        <strong> Maili: </strong> <p> siputikki@gmail.com  </p>
        <strong> Sosiaalinen media: </strong>
        <br />
        <a href="https://www.facebook.com/siputikki/" target="_blank">
            Facebook/Siputikki
        </a>
        <br />
        <a href="https://www.instagram.com/siputikki/" target="_blank">
            Instagram/Siputikki
        </a>
    </div>
    <br><br>

</body>
