@*
    @author Sanna Nieminen-Vuorio
     Last modified 2.3.2022
     Pictures
*@
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="backroundClass">
    <h2>Galleria</h2>

    <img src="~/images/nuket.jpg" alt="Nuket" class="galleryImage">
    <img src="~/images/nukkeKeinussa.jpg" alt="Nukke" class="galleryImage">
    <img src="~/images/kesaNuket.jpg" alt="Nuket" class="galleryImage">
    <img src="~/images/barbiSaunassa.jpg" alt="Barbi Saunassa" class="galleryImage">
    <img src="~/images/merenneidot.jpg" alt="Barbiet" class="galleryImage">

</body>