@*
    @author Sanna Nieminen-Vuorio
     Last modified 2.3.2022
     Homepage
*@
@{
    ViewBag.Title = "Home Page";
}

<body class="backroundClass">
    <h1> Tervetuloa!</h1>
    <div style="width: 50%">
        Mukavaa, että löysit Siputikin sivuille. Keitä olemme-osiosta löydät tarinamme sekä yhteystietomme. Galleriassa voit ihastella Siputikin tuotteita. Jos sinulla on jo kokemusta Siputikin tuotteista, voit antaa palautetta tai ottaa muuten vain yhteyttä sekä katsoa muiden asiakkaiden palautteita.
    </div>
    <img src="~/images/nukkeKeinussa.jpg" alt="Nuket" class="homepageImage">
</body>